html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( name="vieport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="../dist/css/solarized.min.css" )

  body

    .wrap
      .left-aside-layout
        aside.lash
          nav
            ul
              li.icon.is-home
                i.ion-home
          footer
            ul
              li.icon
                i.ion-log-out
              li.profile
                .caption.is-bg-violet SA
        section.sp.headered-content
          header
            h1 Loremso
            .actions
              .action
                i.icon.ion-android-add
          section.sp-1
            | tester

