html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( name="vieport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="../dist/css/solarized.min.css" )

  body

    .wrap
      .lash-layout
        aside.lash
          nav
            ul
              li.icon.is-home
                i.ion-home
          footer
            ul
              li.profile
                .caption SA
              li.icon
                i.ion-log-out
        section.content.sp.headered-content
          header
            .header-search
              //.clear
                i.icon.ion-md-close
              input(
                placeholder="Administracion de modulos"
              )
            .actions
              .action
                i.icon.ion-md-add
          section.sp-1.sp
            .sp-1.modules.ipb-2x
              .module.is-turquoise
                .module-wrap
                  header
                    h1 Administraci&oacute;n
                  section
                    .function
                      .icon
                        i.ion-code
                      .name Funciones
                    .function
                      .icon
                        i.ion-android-people
                      .name Usuarios

              .module.is-rose
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-acua
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-alizarin
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-belizehole
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-orange
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-pomegranate
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-coffee
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module.is-sunflower
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

              .module
                .module-wrap
                  header
                    h1 Personal
                  section
                    .function
                      .icon
                        i.ion-calendar
                      .name Control de asistencia

