html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( name="vieport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="../dist/css/solarized.min.css" )

  body

    .wrap
      .left-aside-layout
        aside.lash
          nav
            ul
              li.icon.is-home
                i.ion-home
          footer
            ul
              li.profile
                .caption SA
              li.icon
                i.ion-log-out
        section.sp.headered-content
          header
            h1 Loremso
          section.sp-1.sp
            .sp-1.boxem-2x.card
              .is-row
                h1 headered collection basic
              .is-row
                .is-one
                  .is-headered-collection
                    header
                      .is-three name
                      .is-one age
                      .is-half.is-centered check
                    section
                      .item
                        .is-three Loremso Ipsumo Dolorum
                        .is-one 15
                        .is-half.is-centered
                          i.ion-android-done
              .is-row
                h1 headered collection with actions
              .is-row
                .is-one
                  .is-headered-collection
                    header
                      .is-three name
                      .is-one age
                      .is-half.is-centered check
                      .actions
                        .action.is-offset.is-hover-success
                          i.ion-android-add
                    section
                      .item
                        .is-three Loremso Ipsumo Dolorum
                        .is-one 15
                        .is-half.is-centered
                          i.ion-android-done
                        .actions
                          .action.is-hover-info
                            i.ion-edit
                          .action.is-hover-danger
                            i.ion-trash-b

                      .item
                        .is-three Non diam. Vestibulum placerat tincidunt tortor. Ut vehicula ligula quis lectus. In eget velit. Quisque vel risus. Mauris pede. Nullam ornare sapien.
                        .is-one 15
                        .is-half.is-centered
                          i.ion-android-done
                        .actions
                          .action.is-hover-info
                            i.ion-edit
                          .action.is-hover-danger
                            i.ion-trash-b

                      .item
                        .is-three Non diam. Vestibulum placerat
                        .is-one 15
                        .is-half.is-centered
                          i.ion-android-done
                        .actions
                          .action.is-hover-info
                            i.ion-edit
                          .action.is-hover-danger
                            i.ion-trash-b

