html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( name="vieport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="../dist/css/solarized.min.css" )

  body

    .wrap
      .sp.ipb-2x
        .sp-1
          .is-row
            h1 Index
          .is-row
            .is-one
              ul.is-dot-list
                li 
                  a.is-color-yellow( href="splits.html" ) Splits
                li
                  a.is-color-orange( href="centered-layout.html" ) Centered Layout
                li
                  a.is-color-red( href="login.html" ) Brand Layout
                li
                  a.is-color-magenta( href="aside-layout.html" ) Aside base
                li
                  a.is-color-violet( href="forms.html" ) Form elements
                li
                  a.is-color-blue( href="collections.html" ) Collections (lists)
                li
                  a.is-color-cyan( href="window-panes.html" ) Window Panes
                li
                  a.is-color-green( href="boxes.html" ) Modules
                li
                  a.is-color-sunflower( href="modal.html" ) Modal

