html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( name="vieport" content="width=device-width, initial-scale=1" )
    link( rel="stylesheet" href="../dist/css/solarized.min.css" )

  body

    .wrap
      .sp.boxem
        .sp-1.sp
          .sp-1.vs
            .vs-1.boxem.is-bg-granade .is-bg-granade
            .vs-1.boxem.is-bg-turquoise top right
          .sp-1.boxem.is-bg-peterriver bottom
        .sp-2.vs
          .vs-1.sp
            .sp-1.boxem.is-bg-wisteria lorem
            .sp-1.boxem.is-bg-sunflower
              pre.is-color-wetasphalt
                | .wrap
                |   .sp.boxem
                |     .sp-1.sp
                |       .sp-1.vs
                |         .vs-1.boxem.is-bg-red .is-bg-red
                |         .vs-1.boxem.is-bg-turquoise top right
                |       .sp-1.boxem.is-bg-peterriver bottom
                |     .sp-2.vs
                |       .vs-1.sp
                |         .sp-1.boxem.is-bg-wisteria lorem
                |         .sp-1.boxem.is-bg-sunflower lorem
                |       .vs-2.sp
                |         .sp-1.boxem.is-bg-emerald lorem
                |         .sp-2.vs
                |           .vs-1.boxem.is-bg-concrete left
                |           .vs-1.sp
                |             .sp-1.boxem.is-bg-coffee r
                |             .sp-2.vs
                |               .vs-2.boxem.is-bg-alizarin l
                |               .vs-1.boxem.is-bg-carrot l
                |             .sp-1.boxem.is-bg-midnightblue r
                |         .sp-1.boxem.is-bg-acua dolor

          .vs-2.sp
            .sp-1.boxem.is-bg-emerald lorem
            .sp-2.vs
              .vs-1.boxem.is-bg-concrete left
              .vs-1.sp
                .sp-1.boxem.is-bg-coffee r
                .sp-2.vs
                  .vs-2.boxem.is-bg-alizarin l
                  .vs-1.boxem.is-bg-carrot l
                .sp-1.boxem.is-bg-midnightblue r
            .sp-1.boxem.is-bg-acua dolor

